#include <physical_layouts.dtsi>
/ {
    standard_physical_layout: standard_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Standard charybdisT";
        transform = <&default_transform>; //label of matrix node
        kscan = <&kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   75       0     0     0>
            , <&key_physical_attrs 100 100  200   25       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   25       0     0     0>
            , <&key_physical_attrs 100 100  500   10       0     0     0>
            , <&key_physical_attrs 100 100 1100   10       0     0     0>
            , <&key_physical_attrs 100 100 1200   25       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400   25       0     0     0>
            , <&key_physical_attrs 100 100 1500   75       0     0     0>
            , <&key_physical_attrs 100 100 1600   50       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  175       0     0     0>
            , <&key_physical_attrs 100 100  200  125       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  125       0     0     0>
            , <&key_physical_attrs 100 100  500  110       0     0     0>
            , <&key_physical_attrs 100 100 1100  110       0     0     0>
            , <&key_physical_attrs 100 100 1200  125       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  125       0     0     0>
            , <&key_physical_attrs 100 100 1500  175       0     0     0>
            , <&key_physical_attrs 100 100 1600  150       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  275       0     0     0>
            , <&key_physical_attrs 100 100  200  225       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  225       0     0     0>
            , <&key_physical_attrs 100 100  500  210       0     0     0>
            , <&key_physical_attrs 100 100 1100  210       0     0     0>
            , <&key_physical_attrs 100 100 1200  225       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  225       0     0     0>
            , <&key_physical_attrs 100 100 1500  275       0     0     0>
            , <&key_physical_attrs 100 100 1600  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  375       0     0     0>
            , <&key_physical_attrs 100 100  200  325       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  325       0     0     0>
            , <&key_physical_attrs 100 100  500  310       0     0     0>
            , <&key_physical_attrs 100 100 1100  310       0     0     0>
            , <&key_physical_attrs 100 100 1200  325       0     0     0>
            , <&key_physical_attrs 100 100 1300  300       0     0     0>
            , <&key_physical_attrs 100 100 1400  325       0     0     0>
            , <&key_physical_attrs 100 100 1500  375       0     0     0>
            , <&key_physical_attrs 100 100 1600  350       0     0     0>
            , <&key_physical_attrs 100 100    0  450       0     0     0>
            , <&key_physical_attrs 100 100  100  475       0     0     0>
            , <&key_physical_attrs 100 100  200  425       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  600  400       0     0     0>
            , <&key_physical_attrs 100 150  600  500    4500     0     0>
            , <&key_physical_attrs 100 150  660  580    4500     0     0>
            , <&key_physical_attrs 100 150  490  600    4500     0     0>
            , <&key_physical_attrs 100 150  550  680    4500     0     0>
            , <&key_physical_attrs 100 100 1500  475       0     0     0>
            , <&key_physical_attrs 100 100 1600  450       0     0     0>
            , <&key_physical_attrs 100 100 1400  425       0     0     0>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100 1000  400       0     0     0>
            , <&key_physical_attrs 100 150 1000  570 (-4500)     0     0>
            , <&key_physical_attrs 100 150 1100  680 (-4500)     0     0>
            , <&key_physical_attrs 100 150  940  650 (-4500)     0     0>
            , <&key_physical_attrs 100 150 1040  760 (-4500)     0     0>
            ;
    };
    }
}