#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>

#define BASE 0
#define NAV 1
#define MOUSE 2
#define MEDIA 3
#define NUM 4
#define SYM 5
#define FUNC 6
 / {
    split_inputs {
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split_0: trackball_split_0@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
        trackball_split_1: trackball_split_1@0 {
            compatible = "zmk,input-split";
            reg = <1>;
        };
    };

    trackball_peripheral_listener: trackball_peripheral_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&trackball_split_0>;
    };
    //right hand trackball
    // trackball_central_listener: trackball_central_listener {
    //     compatible = "zmk,input-listener";
    //     status = "disabled";
    //     device = <&trackball_split_1>;
    // };
 };